<html>
    <head>
        <link rel='stylesheet' type='text/css' href='Style.css'> 
        <script type='text/javascript' src='Script.js' defer></script>  
        <title>Speech Recognition</title>
    </head>
    <body>
        <div class = "logo">
            <h2><span class = "light">Duck</span><span class = "bold">AI</span></h2>
        </div>
        <div class='container'>
            <input type='text' id = 'inp'>    
            <div class='btns'> 
                <button type='button' id='button'>Talk</button>
                <button id='listen' type='button'>Listen</button>   
            </div> 
            <div id='content'> 
                
            </div>
        </div>
    </body>
</html>